.table-container {
  margin-top: 2.5rem;
  .table {
    width: 100%;
    margin: auto;
    text-align: center;
    border: 1px solid var(--dark-brown-primary);
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    thead {
      th {
        background-color: var(--dark-brown-primary);
        color: var(--light-brown-primary);
        padding: 1rem 2.5rem;
        &:not(:last-child) {
          border-right: 1px solid var(--light-brown-primary);
        }
      }
    }
    tbody {
      tr {
        border: 1px solid var(--dark-brown-primary);
        td {
          // padding: 0.5rem 0;
          background-color: var(--light-brown-primary);
          color: var(--dark-brown-primary);
          border: 1px solid var(--dark-brown-primary);

          .z-input {
            background-color: var(--v-light-blue-secondary);
            text-align: center;
            width: 65px;
            height: 22px;
            border: none;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
