.frameless-nav {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  .app-logo {
    color: white;
  }
  .actions {
    display: flex;
    .action-icon {
      padding: 0 0.5rem;
      -webkit-app-region: no-drag;
    }
  }
}
