.frameless-nav {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  .app-logo {
    color: white;
  }
  .actions {
    display: flex;
    .action-icon {
      padding: 10px;
      -webkit-app-region: no-drag;
      color: var(--dark-brown-primary);
      &:hover {
        background-color: var(--dark-brown-primary);
        color: var(--light-brown-primary);
      }
    }
  }
}
