.btn-primary {
  background-color: var(--dark-brown-primary);
  color: var(--light-brown-primary);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    background-color: var(--light-brown-primary);
    color: var(--dark-brown-primary);
  }
  &:disabled {
    cursor: unset;
    &:hover {
      background-color: var(--dark-brown-primary);
      color: var(--light-brown-primary);
    }
  }
}
